body {
    background-image: url(https://celes.club/uploads/posts/2022-05/1653684502_1-celes-club-p-fon-mainkraft-postroiki-krasivie-1.jpg);
    background-size: contain;
    backdrop-filter: blur(0px);
    background-repeat: no-repeat;
    border-radius: 10px;

}
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    margin-left: 340px;
    margin-top: -370px;
    backdrop-filter: blur(5px);

}
.navbar a {
    float: left;
    padding: 90px;
    font-size: 22px;
    font-family: segoe ui;
    color: rgb(255, 255, 255);
    font-style: calc();
    margin-top: -60px;
    border-bottom: 3px;
    text-decoration: none;
}
header {
    margin-top: 360px;
    margin-left: 190px;
    color: rgb(250, 250, 250);
    font-family: 'segoe ui';
    font-size: 52px;
}
.buttons {
    font-size: 18px;
    font-family: arial;
    margin-left:190px ;
}

.buttons button {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.846);
    border: 5px white;
    border-bottom: 3px;
    color: white;
    text-decoration: none;
}
.buttons button a {
    text-decoration: none;
}
.servers {
    margin-top: 700px;
    background-color: rgba(242, 242, 242, 0.565);
    border-radius: 20px;
}
.servers h3 {
    color: black;
    font-family: segoe ui;
    margin-left: 750px;
    font-size: 32px;
    margin-top: ;
}
.servers button {
    background-color: rgba(0, 0, 0, 0);
    background-size: 50px 50px;
    margin-left: 200px;
    margin-top: 90px;
    border: none;
    margin-bottom: 90px;
}
/*раздел играть*/
.play {
    margin-left: 0px;
    margin-top: 220px;
    margin-bottom: 50px;
    background-color:rgba(242, 242, 242, 0.565);
    border-radius: 10px;
}
.play h1 {
    margin-left: 700px;
    font-family: segoe ui;
    font-size: 32px;
}
.launcer1 {
    margin-left: 250px;
    font-family: 'Segoe UI';
}
.launcer2 {
    margin-left: 900px;
    font-family: 'Segoe UI';
    margin-top: -250px;
}
.launcer1 button {
    border-radius: 5px;
    border: none;
    background-color: rgb(253, 28, 28);
    color: white;
    margin-left: 100px;
    margin-bottom: 120px;
    text-decoration: none;
}
.launcer2 button {
    border-radius: 5px;
    border: none;
    background-color: rgb(253, 28, 28);
    color: white;
    margin-left: 75px;
    margin-bottom: 120px;
    text-decoration: none;
}
.launcers {
    margin-left: 50px;
}
.news {
    background-color:rgba(242, 242, 242, 0.565);
    border-radius: 10px;
    margin-top: 120px; 
    font-family: segoe ui;
}
.news h2 {
    margin-left: 700px;
    font-size: 32px;
}
footer {
    background-color: rgb(30, 30, 30);
    font-family:Helvetica;
    color: white;
    margin-bottom: -21px;
    margin-top: 230px;
}
.shop {
    background-color:rgba(242, 242, 242, 0.565);
    border-radius: 10px;
    margin-top: 100px;
    font-family: segoe ui;
}
.shop button {
    border: none;
    margin-left: 75px;
}